@model WU_DEREK_HW5.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <h5>Suppliers for this Product</h5>
        <table class="table table-bordered">
            <tr>
                <th>Suppliers</th>
            </tr>
            @foreach (ProductSupplier cd in Model.ProductSuppliers)
            {
                <tr>
                    <td>@cd.Supplier.SupplierName</td>
                </tr>
            }
        </table>
    }
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ProductID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
